* {
  box-sizing: border-box;
}

body {
  background-color: #23252C;
  margin: 0;
  color: white;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.container {
  background-color: #1A1B21;
  width: 20%;
  height: 90%;
  border-radius: 10px;
  filter: drop-shadow(0 0 0.75rem black);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.button-container {
  display: flex;
  gap: 17px;
}

.button-container button {
  width: 130%;
}